[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
numpy = "*"
opencv-python = "*"
requests = "*"
cryptography = "*"
pyopenssl = "*"
certifi = "*"
alchemy = "*"
flake8 = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.8"
