[[source]]
name = "pypi"
url = "http://pypi.douban.com/simple/"
verify_ssl = false

[dev-packages]

[packages]
numpy = "*"
opencv-python = "*"
requests = "*"
cryptography = "*"
pyopenssl = "*"
certifi = "*"
alchemy = "*"
flake8 = "*"

[requires]
python_version = "3.8"
